body {
}

h1 {
    color: navy;
    margin-left: 20px;
}
u1 {
	position: fixed;
	top: 0;
	width: 100%;
	border: 1px solid blue;
	list-style-type: none; <! Get rid of bullet points -->
	background-color: #0000A0;
	text-align: center;
}
li {
	float:left;
	border-right: 1px solid red;
}
li:last-child {
	border-right: none;
}
li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}
.active {
	background-color: red
}
